<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui deserunt excepturi quisquam quasi atque repellendus minima modi, odit commodi ratione.</p>
    </div>
</section>